// Import of google fonts:
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

//SCSS Variables
$heading-font: "Montserrat", sans-serif;
$text-font: "Source Sans Pro", sans-serif;
$button-font: "Roboto Slab", serif;
$font-color: #ffffff;

$section-backgroundColor: #2e2251;
$body-backgroundColor: #1f1c38;
$button-backgroundColor: #f56d3c;

// Visabillity: Display none, for desktop nav items.

.display {
  display: none;
}

// Display: display none, for ipad and mobile nav items.
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1f1c38;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  font-family: $heading-font;
  text-transform: uppercase;
}

.bookmarks,
#options,
#portfolio,
#markets,
#chartJS_Section,
#topGainers {
  box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: $body-backgroundColor;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;

  .navigation_containers {
    width: 40%;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;

    img {
      width: 50px;
      border-radius: 365px;
      margin-left: 30px;
    }
  }

  ul {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $font-color;
      font-family: $heading-font;
    }

    li:nth-child(even),
    li:first-child a,
    a:hover {
      color: $button-backgroundColor;
      transition: 0.15s ease-in-out;
    }

    li:first-child a:hover {
      color: $font-color;
      background-color: $button-backgroundColor;
      padding: 7.5px;
      border: none;
      transition: 0.4s ease-in-out;
    }
  }
}

main {
  width: 100vw;
  height: auto;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid white;
  padding-bottom: 50px;

  .main-sections {
    width: 37%;
    height: 100%;
    display: flex;
    flex-flow: column;

    #heading {
      width: 100%;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 35px;
      }
    }

    .bookmarks {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $section-backgroundColor;

      img {
        width: 40px;
      }

      p {
        color: $font-color;
        font-family: $text-font;
      }
    }

    #second-child {
      margin-top: 25px;
    }

    #chartJS_Section {
      width: 100;
      height: 40%;
      margin-top: 25px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;

      #myChart {
        width: 40px;
        height: 20%;
        padding: 20px;
      }
    }

    #topGainers {
      width: 100%;
      height: 60%;
      background: $section-backgroundColor;
      margin-top: 45px;

      #topgainer {
        font-family: $text-font;
        font-size: 25px;
        color: $font-color;
        background: $button-backgroundColor;
        border-radius: 16px;
        border-color: transparent;
        position: relative;
        z-index: 10;
        padding: 10px;
        width: 100%;
      }

      #topGainer_box {
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        flex-flow: column;
        color: $font-color;
        justify-content: center;
        hr {
          width: 100%;
          margin: auto;
        }
        ul {
          list-style-type: none;
          display: flex;
          width: 100%;
          justify-content: space-around;
          border: 1px solid white;
          padding: 1px;

          li:nth-child(n + 1) {
            font-family: $heading-font;
          }

          li:nth-child(1n + 3) {
            font-family: $text-font;
          }
        }
      }
    }
  }

  #portfolio_Options {
    width: 100%;
    height: 25vh;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

    #portfolio {
      width: 50%;
      height: 100%;
      background-color: $section-backgroundColor;
      border-color: none;
      display: flex;
      flex-flow: column;
      align-items: center;

      h2 {
        text-align: center;
        border-bottom: 1px solid white;
      }

      hr {
        width: 80%;
        margin: 0;
      }
    }

    #options {
      width: 35%;
      height: 100%;
      background-color: $section-backgroundColor;
      border-color: none;

      #options_image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;

        img {
          width: 30px;

          margin-right: 20px;
          margin-top: 20px;
        }
      }

      #options_information {
        width: 100%;
        height: 77%;
        display: flex;
        justify-content: center;
        align-items: space-around;
        flex-flow: row wrap;

        .information_Box {
          width: 80%;
          height: 4vh;
          border: 1px solid crimson;
          margin-top: 20px;
          border-radius: 16px;
          background-color: #83afb4;
          border-color: none;
          color: white;
          font-family: $text-font;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  #markets {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    border-radius: 16px;
    background-color: $section-backgroundColor;
    border-color: none;
    display: flex;
    flex-flow: column;
    text-align: center;

    #market_buttons {
      width: 100%;
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      button {
        font-family: $text-font;
        padding: 10px;
        border-radius: 16px;
        font-size: 17px;
        color: white;
        border-color: transparent;
      }

      button:first-child {
        background-color: #92d36e;
      }

      button:nth-child(2) {
        background-color: $button-backgroundColor;
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: $font-color;
    font-family: $heading-font;
  }

  p {
    color: $font-color;
    font-family: $text-font;
    margin: 8px 0px 0px 0px;
  }

  #mobile {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    .navigation_containers {
      width: 20%;
    }

    ul {
      width: 60%;
    }
  }

  main {
    display: flex;
    flex-flow: column;

    .main-sections {
      width: 80%;

      #chartJS_Section {
        margin-top: 80px;
      }
    }

    #markets {
      margin-bottom: -30px;
    }
  }

  .visabillity {
    display: none;
  }

  .display {
    display: block;
  }
  .topnav {
    overflow: hidden;
    background-color: #1f1c38;
    position: relative;
    border-bottom: 1px solid white;
    z-index: 10;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav {
    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      font-family: $heading-font;
      text-transform: uppercase;
    }

    #myLinks a:first-child {
      color: $button-backgroundColor;
    }
  }

  .topnav {
    a {
      img {
        width: 40px;
        border-radius: 365px;
      }
    }
  }

  .topnav a.icon {
    background: #1f1c38;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .active {
    background-color: #1f1c38;
    color: #1f1c38;
  }

  footer {
    ul {
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .visabillity {
    display: none;
  }

  .display {
    display: block;
  }
  .topnav {
    overflow: hidden;
    background-color: #1f1c38;
    position: relative;
    border-bottom: 1px solid white;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav {
    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      font-family: $heading-font;
      text-transform: uppercase;
    }

    #myLinks a:first-child {
      color: $button-backgroundColor;
    }
  }

  .topnav {
    a {
      img {
        width: 40px;
        border-radius: 365px;
      }
    }
  }

  .topnav a.icon {
    background: #1f1c38;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .active {
    background-color: #1f1c38;
    color: #1f1c38;
  }

  main {
    display: flex;
    flex-flow: column;

    .main-sections {
      width: 80%;

      #markets {
        margin-bottom: -30px;
      }

      #chartJS_Section {
        margin-top: 80px;
      }
    }
  }

  footer {
    ul {
      width: 70%;
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    #portfolio_Options {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;

      #portfolio {
        width: 100%;
        height: 300px;
      }

      #options {
        width: 100%;
        margin-top: 30px;
        height: 250px;
      }
    }

    .main-sections {
      width: 80%;

      #markets {
        margin-bottom: -45px;
      }

      #chartJS_Section {
        margin-bottom: -25px;
      }
    }
  }

  footer {
    #desktop_tablet {
      display: none;
    }

    #mobile {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      height: 200px;
    }
  }
}
