@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.display {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1f1c38;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.bookmarks,
#options,
#portfolio,
#markets,
#chartJS_Section,
#topGainers {
  box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 13px 20px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #1f1c38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid white;
}

nav .navigation_containers {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation_containers img {
  width: 50px;
  border-radius: 365px;
  margin-left: 30px;
}

nav ul {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

nav ul li:nth-child(even),
nav ul li:first-child a,
nav ul a:hover {
  color: #f56d3c;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

nav ul li:first-child a:hover {
  color: #ffffff;
  background-color: #f56d3c;
  padding: 7.5px;
  border: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main {
  width: 100vw;
  height: auto;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}

main .main-sections {
  width: 37%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .main-sections #heading {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-sections #heading img {
  width: 35px;
}

main .main-sections .bookmarks {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2251;
}

main .main-sections .bookmarks img {
  width: 40px;
}

main .main-sections .bookmarks p {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

main .main-sections #second-child {
  margin-top: 25px;
}

main .main-sections #chartJS_Section {
  width: 100%;
  height: 30vh;
  margin-top: 85px;
  background: #2e2251;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-sections #chartJS_Section #myChart {
  width: 100px;
  height: 90%;
}

main .main-sections #topGainers {
  width: 100%;
  height: 30vh;
  background: #2e2251;
  margin-top: 70px;
}

main .main-sections #topGainers #topgainer {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  color: #ffffff;
  background: #f56d3c;
  border-radius: 16px;
  border-color: transparent;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 100%;
}

main .main-sections #topGainers #topGainer_box {
  width: 80%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-sections #topGainers #topGainer_box hr {
  width: 100%;
  margin: auto;
}

main .main-sections #topGainers #topGainer_box ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid white;
  padding: 1px;
}

main .main-sections #topGainers #topGainer_box ul li:nth-child(n + 1) {
  font-family: "Montserrat", sans-serif;
}

main .main-sections #topGainers #topGainer_box ul li:nth-child(1n + 3) {
  font-family: "Source Sans Pro", sans-serif;
}

main #portfolio_Options {
  width: 100%;
  height: 25vh;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #portfolio_Options #portfolio {
  width: 50%;
  height: 100%;
  background-color: #2e2251;
  border-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #portfolio_Options #portfolio h2 {
  text-align: center;
  border-bottom: 1px solid white;
}

main #portfolio_Options #portfolio hr {
  width: 80%;
  margin: 0;
}

main #portfolio_Options #options {
  width: 35%;
  height: 100%;
  background-color: #2e2251;
  border-color: none;
}

main #portfolio_Options #options #options_image {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #portfolio_Options #options #options_image img {
  width: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

main #portfolio_Options #options #options_information {
  width: 100%;
  height: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main #portfolio_Options #options #options_information .information_Box {
  width: 80%;
  height: 4vh;
  border: 1px solid crimson;
  margin-top: 20px;
  border-radius: 16px;
  background-color: #83afb4;
  border-color: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #markets {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  border-radius: 16px;
  background-color: #2e2251;
  border-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

main #markets #market_buttons {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #markets #market_buttons button {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  border-radius: 16px;
  font-size: 17px;
  color: white;
  border-color: transparent;
}

main #markets #market_buttons button:first-child {
  background-color: #92d36e;
}

main #markets #market_buttons button:nth-child(2) {
  background-color: #f56d3c;
}

footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

footer p {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  margin: 8px 0px 0px 0px;
}

footer #mobile {
  display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav .navigation_containers {
    width: 20%;
  }
  nav ul {
    width: 60%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main .main-sections {
    width: 80%;
  }
  main .main-sections #chartJS_Section {
    margin-bottom: -10px;
  }
  main #markets {
    margin-bottom: -30px;
  }
  .visabillity {
    display: none;
  }
  .display {
    display: block;
  }
  .topnav {
    overflow: hidden;
    background-color: #1f1c38;
    position: relative;
    border-bottom: 1px solid white;
    z-index: 10;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .topnav #myLinks a:first-child {
    color: #f56d3c;
  }
  .topnav a img {
    width: 40px;
    border-radius: 365px;
  }
  .topnav a.icon {
    background: #1f1c38;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .active {
    background-color: #1f1c38;
    color: #1f1c38;
  }
  footer ul {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .visabillity {
    display: none;
  }
  .display {
    display: block;
  }
  .topnav {
    overflow: hidden;
    background-color: #1f1c38;
    position: relative;
    border-bottom: 1px solid white;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  .topnav #myLinks a:first-child {
    color: #f56d3c;
  }
  .topnav a img {
    width: 40px;
    border-radius: 365px;
  }
  .topnav a.icon {
    background: #1f1c38;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .active {
    background-color: #1f1c38;
    color: #1f1c38;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main .main-sections {
    width: 80%;
  }
  main .main-sections #markets {
    margin-bottom: -30px;
  }
  main .main-sections #chartJS_Section {
    margin-bottom: -10px;
  }
  footer ul {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  main #portfolio_Options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: auto;
  }
  main #portfolio_Options #portfolio {
    width: 100%;
    height: 300px;
  }
  main #portfolio_Options #options {
    width: 100%;
    margin-top: 30px;
    height: 250px;
  }
  main .main-sections {
    width: 80%;
  }
  main .main-sections #markets {
    margin-bottom: -45px;
  }
  main .main-sections #chartJS_Section {
    margin-bottom: -25px;
  }
  footer #desktop_tablet {
    display: none;
  }
  footer #mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */