// Import of google fonts:
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

//SCSS Variables
$heading-font: "Montserrat", sans-serif;
$text-font: "Source Sans Pro", sans-serif;
$button-font: "Roboto Slab", serif;
$font-color: #ffffff;

$section-backgroundColor: #2e2251;
$body-backgroundColor: #1f1c38;
$button-backgroundColor: #f56d3c;

// Visabillity: Display none, for desktop nav items.

.display {
  display: none;
}

// Display: display none, for ipad and mobile nav items.
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1f1c38;
}

nav {
  width: 100%;
  height: 80px;
  background-color: $body-backgroundColor;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;

  .navigation_containers {
    width: 40%;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;

    img {
      width: 50px;
      border-radius: 365px;
      margin-left: 30px;
    }
  }

  ul {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $font-color;
      font-family: $heading-font;
    }

    li:nth-child(even),
    li:first-child a,
    a:hover {
      color: $button-backgroundColor;
      transition: 0.15s ease-in-out;
    }

    li:first-child a:hover {
      color: $font-color;
      transition: 0.15s ease-in-out;
    }
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    .navigation_containers {
      width: 30%;
    }

    ul {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  nav {
    .navigation_containers {
      width: 20%;
    }

    ul {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  .visabillity {
    display: none;
  }

  .display {
    display: block;
  }
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: #1f1c38;
    position: relative;
    border-bottom: 1px solid white;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav {
    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      font-family: $heading-font;
      text-transform: uppercase;
    }

    #myLinks a:first-child {
      color: $button-backgroundColor;
    }
  }

  .topnav {
    a {
      img {
        width: 40px;
        border-radius: 365px;
      }
    }
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: #1f1c38;
    margin-top: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* Add a grey background color on mouse-over */

  /* Style the active link (or home/logo) */
  .active {
    background-color: #1f1c38;
    color: #1f1c38;
  }
}
@media screen and (max-width: 500px) {
}
